<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
  <span class="user"><%= link_to post.user.name, post.user if post.user != current_user %></span>
  <span class="user"><%= ' ' if post.user == current_user %></span>

  <span class="content">
    <%= post.content %>
    <%= image_tag(post.picture) if post.picture? %>
    <%= link_to 'Download', post.picture.url if post.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    <% if current_user?(post.user) %>
      <%= link_to "delete", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
